<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gelk.dao.WPoetryRecordMapper">
  <resultMap id="BaseResultMap" type="cn.gelk.domain.WPoetryRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="poetry_id" jdbcType="INTEGER" property="poetryId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="read_date" jdbcType="TIMESTAMP" property="readDate" />
  </resultMap>
</mapper>