<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gelk.dao.WPoetryProblemMapper">
  <resultMap id="BaseResultMap" type="cn.gelk.domain.WPoetryProblem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="poetry_id" jdbcType="INTEGER" property="poetryId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="problem" jdbcType="VARCHAR" property="problem" />
    <result column="select1" jdbcType="INTEGER" property="select1" />
    <result column="select2" jdbcType="VARCHAR" property="select2" />
    <result column="select3" jdbcType="VARCHAR" property="select3" />
    <result column="select4" jdbcType="VARCHAR" property="select4" />
    <result column="answer" jdbcType="SMALLINT" property="answer" />
  </resultMap>


</mapper>