<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gelk.dao.WUserMapper">
  <resultMap id="BaseResultMap" type="cn.gelk.domain.WUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="photo" jdbcType="INTEGER" property="photo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="read_days" jdbcType="INTEGER" property="readDays" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="expiration_date" jdbcType="TIMESTAMP" property="expirationDate" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="difficulty" jdbcType="VARCHAR" property="difficulty" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
  </resultMap>
</mapper>